<ol class='wholeBoard'>
    <% @max_positions.times do |position| %>
        <li class="leaderEntry">
        <%= @sorted_scores[position].user.username %>
        : <%= @sorted_scores[position].score %></li>
    <% end %>

</ol>