* {
    margin: 0px;
    padding: 0px;
}

.boardPage {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
}

.checkImage {
    width: 100%;
    height: 100%;
}

.right_box {
    grid-column-start: 2;
    height: 100%;
    width: 100%;
    text-align: center;
}

.right_box h6,
.right_box a {
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 20%;
}

.right_box a,
.right_box input {
    color: white;
    background: dodgerblue;
    border-radius: 30px;
    padding: 10px;
}

.right_box input {
    font-size: 400%;
    padding: 5px;
    border: none;
}

.right_box p a:hover {
    color: white;
    text-decoration: line;
}

.difficultySelectionBox {
    text-align: center;
    width: 100%;
}

.difficultySelectionBox form {
    display: inline;
    margin: 15px;
}

.button_to #white,
.difficultySelectionBox p {
    border-radius: 30px;
    font-size: 600%;
    padding-left: 40px;
    padding-right: 40px;
}