// Place all the styles related to the leaderboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leaderEntry {
    font-size: 2.8em;
    background: dodgerblue;
    color: white;
    width: 30%;
    margin: 16px auto;
}

.wholeBoard {
    text-align: center;
    width: 100%;
}